body {
    background: white;
}

.header {
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
    background-color: azure;
}
h4{
    font-size: 25px;
}

h2{
    text-align: center;
    font-size: medium;
}

.topnav{
    text-align: center;
    overflow: hidden;
}
.topnav a{
    float: center;
    color: palevioletred;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover {
    background-color: coral;
    color: peachpuff;
}

p{
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    background-color: white;
    font-size: larger;
    text-align: center;
}
.row:after{
    content:"";
    display: table;
    clear:both;
}
img{
    width: 200px;
    height:auto;
    float:left;
}