body {
    background: white;
}
p {
    text-align: center;
    margin: auto;
}
.header {
    text-align: center;
    background-color: plum;
}
h1{
    color: white;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: x-large;
}